body{
	font-family: monospace;
	font-size: 13pt;
     color: white;
}
 
th{
	text-align: left;
}
 
img{
	width: 100%;
	margin-bottom: 5%;
    height: auto;
	border: 2px solid white;      
	border-radius: 5px;
    object-fit: cover;
}
 
.kotak{
	
	width: 60%;
	margin: 10px auto;
	padding: 20px;
}
 
.judul{
	text-align: center;
    background: rgb(22, 22, 21);
    color: white;
    border-radius: 10px;
    
}
 
.blok{
	overflow: hidden;      
	padding: 20px;
	background: #728ea3;  
    border-radius: 10px;         
}
 
.kiri{
	width: 20%;
	float: left;
}
 
.kanan{
	width: 70%;
	padding: 0px 20px;	
	float: left;
}

@media only screen and (max-width: 768px) {
	.kotak{
		width: 100%;
		padding: 0px;
		border: none;
	}
	
	.kiri{
		width: 100%;
	}
 
	.kanan{
		width: 100%;
		padding: 0;
	}
}